@use 'root.scss' as *;
@use 'components/slider' as *;
@use 'components/card' as *;
@use 'components/basket' as *;
@use 'components/header' as *;

@font-face {
    font-family: "Inter Bold";
    src: url('/src/assets/fonts/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: "Inter Regular";
    src: url('/src/assets/fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: "Inter Light";
    src: url('/src/assets/fonts/Inter_18pt-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter Regular";
}

a {
    text-decoration: none;
    color: $main-black;
}

.dropdown-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($main-black, 0.4);
    z-index: 5;
}

.filter-switch {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-family: "Inter Regular";
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 22px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light-gray;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        left: 7px;
        bottom: 7px;
        background-color: $main-black;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: $meat;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px $meat;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

.main {
    position: relative;
    padding-top: 104px;
    .breadcrumbs {
        position: absolute; 
        top: 136px;
        left: 64px;
        ul {
            display: flex;
            gap: 8px;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            font-family: 'Inter', sans-serif;
            font-size: 10px;
            color: rgba($main-white, 0.5);
        }

        a {
            text-decoration: none;
            color: rgba($main-white, 0.3);
            transition: all 0.3s ease;
            &:hover {
                color: $main-white;
            }
        }

        .separator {
            color: rgba($main-white, 0.5);
        }
    }

    .catalog {
        padding: 72px 64px;
        display: flex;

        h2 {
            display: none;
        }

        .filters {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .catalog-container {
            max-width: 1489px;
            width: 100%;
            margin-left: 138px;

            .catalog-header {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .dropdown {
                    position: relative;
                    display: inline-block;
                    font-family: sans-serif;

                    .dropdown-toggle {
                        background: none;
                        border: none;
                        font-size: 13px;
                        text-transform: uppercase;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding: 6px 12px;
                        span {
                            color: $main-black;
                        }
                    }

                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 0%;
                        margin-top: 4px;
                        left: 0;
                        background-color: $main-white;
                        box-shadow: 0 2px 10px rgba($main-black, 0.1);
                        list-style: none;
                        padding: 0;
                        z-index: 10;
                        min-width: 280px;
                    }

                    .dropdown-menu {
                        li {
                            padding: 10px 16px;
                            cursor: pointer;
                            font-size: 12px;
                            text-transform: uppercase;
                            letter-spacing: 0.06em;

                            &:hover {
                                background-color: #f0f0f0;
                            }
                        }

                        li.active {
                            background-color: $meat;
                            color: $main-black;
                        }
                    }
                }

                &:focus-within .dropdown-menu {
                    display: block;
                }
            }

            .catalog-body {
                margin-top: 44px;

                .catalog-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
                    gap: 24px;
                    max-width: 100%;
                    height: 900px;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}

.footer {

    height: 312px;
    background-color: $main-black;
}

.mobile-filter-toggle {
    display: none;
    width: 66px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: $main-black;
}

.mobile-filters-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $main-white;
    z-index: 101;
    border-radius: 24px 24px 0 0;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    display: none;
    &.no-transition {
        transition: none;
    }
    .slide-down {
        width: 28px;
        height: 4px;
        border-radius: 40px;
        margin: 0 auto;
        background-color: rgba($gray, 0.6);
        margin-top: 12px;
    }
    .popup-body {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &.active {
        transform: translateY(0);
        display: block;
    }
}



@media (max-width: 1230px) {
    .main {
        padding-top: 0 !important;
    }
    .catalog {
        .catalog-container {
            margin-left: 0 !important;
        }

        .filters {
            display: none !important;
        }

        .mobile-filter-toggle {
            display: block;
        }
    }
    .catalog-count {
        display: none;
    }
}

@media (max-width: 1000px) {
    .main{
        .slider {
            display: none;
        }
    }
}


@media (max-width: 750px) {
    .breadcrumbs {
        left: 24px !important;
        top: 16px !important;
        ul {
            li {
                a {
                    color: rgba($gray, 0.3) !important;
                }
            }
        }
    }
    .catalog {
        flex-direction: column;
        padding: 64px 24px !important;

        h2 {
            display: block !important;
            font-size: 36px;
        }
    }

    .catalog-container {
        margin-left: 0 !important;
        margin-top: 48px;
    }

    .catalog-grid {
        grid-template-columns: repeat(2, 156px) !important;
        justify-content: center;
        gap: 15px !important;
        overflow-x: visible;
    }
    .dropdown-menu {
        min-width: 150px !important;
    }

    .footer {
        height: 204px !important;
    }
}